.btn {
  outline: none;
  background-color: #ffffff;
  border: 1px solid #cacaca;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  color: #ff7a18;
  cursor: pointer;
  padding: 15px 25px;
  transition: all 0.1s ease-in;

  &:hover {
    box-shadow: none;
    color: #777777;
  }

  &:focus {
    box-shadow: none;
    color: #777997;
  }

  &:active {
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.25);
  }

  &--hidden {
    visibility: hidden;
    opacity: 0;
  }
}
