@mixin retina {

  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    @content;
  }
}

// Desktop first

@mixin viewport--xl {
  @media (max-width: $viewport--xxl - 1) {
    @content;
  }
}

@mixin viewport--lg {
  @media (max-width: $viewport--xl - 1) {
    @content;
  }
}

@mixin viewport--md {
  @media (max-width: $viewport--lg - 1) {
    @content;
  }
}

@mixin viewport--sm {
  @media (max-width: $viewport--md - 1) {
    @content;
  }
}

// Typography

// - для шрифтов > 14px
@mixin font-scale($fs) {
  font-size: #{$fs}px;

  @include viewport--md {
    font-size: calc(0.85 * #{$fs}px);
  }

  @include viewport--sm {
    font-size: calc(0.7 * #{$fs}px);
  }
}

// - для шрифтов < 14px
@mixin font-scale-sm($fs) {
  font-size: #{$fs}px;

  @include viewport--sm {
    font-size: calc(0.85 * #{$fs}px);
  }
}
